.slide {
    background-color: #DDDEE3;
    margin-top: -74px;
    padding-top: 74px;
}

.slide__container {
    max-width: 89.07vw;
    margin: 0 auto 0 auto;
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.slide__text {
    margin-bottom: 102px;
    margin-top: 0px;
    font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
max-width: 626px;
text-align: start;

}

.spiral {
align-self: flex-end;
    float: right;
    max-width: 722px;
max-height: 244px;

}