.card-list {
    background-color: #FAFAFA;

}

.card-list_grey {
    background-color: #E5E5E5;
}

.card-list__container {
    border-top: 1px solid #E8E8E8;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 89.07vw;
    margin: 0 auto 0 auto;
}

.card-list__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 30px 16px;
}

.card-list__more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list__button {
    margin-top: 50px;
    margin-bottom: 80px;
    width: 320px;
    height: 36px;
    padding: 0;
    border-color: #E8E8E8;
    font-weight: 500;
font-size: 12px;
line-height: 15px;
background-color: #FAFAFA;
border-style: solid;
border-radius: 6px;

}

.card-list__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .card-list__container {
        width: 92.19vw;

    }
    .card-list__grid {
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 30px;
    }

    
  }

  @media screen and (max-width: 350px) {
    .card-list__container {
        width: 93.75vw;
        padding-top: 50px;
    }

    .card-list__grid {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 36px;
    }

    .card-list__button {
        width: 240px;
    }
  }