.enter {
    width: 30.93vw;
    margin: 40px auto 0 auto;
    padding-top: 40px;

}

.enter__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enter__block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.enter__label {
    color: #A0A0A0;
    font-weight: 400;
font-size: 10px;
line-height: 12px;
align-self: flex-start;
margin-bottom: 10px;
margin-top: 20px;

}

.enter__input {
    background-color: #F4F4F4;
    padding: 0;
    border: none;
    border-radius: 8px;
    font-weight: 500;
font-size: 13px;
line-height: 16px;
padding: 15px;

}

.enter__button {
    margin-top: 69px;
    color: white;
    background-color: #3456F3;
    border: none;
    border-radius: 3px;
    font-weight: 500;
font-size: 14px;
line-height: 17px;
width: 100%;
padding-top: 13px;
padding-bottom: 15px;
}

.enter__span {
    font-weight: 400;
font-size: 10px;
line-height: 12px;
    color: #EE3465;
}

.enter__link-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.enter__link-title {
color:#A0A0A0;
margin-right: 6px;
}

.enter__link {
    color: #3456F3;
text-decoration: none;
}