.techs {
  background: #f5f5f5;
}

.techs__container {
  max-width: 89.07vw;
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
}

.techs__title {
  padding-top: 100px;
  padding-bottom: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: -0.04em;
  text-align: left;
}

.techs__about {
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
}

.techs__about-title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  /* identical to box height, or 116% */

  text-align: center;
  letter-spacing: -0.04em;
  margin-top: 90px;
}

.techs__about-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  letter-spacing: -0.04em;
  margin-top: 26px;
}

.techs__methods {
  margin-left: auto;
  margin-right: auto;
  max-width: 690px;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  grid-template-rows: 60px;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin-top: 100px;
}

.techs__methods-block {
  background-color: #e8e8e8;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.04em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .techs__container {
    width: 86.98vw;
    padding-bottom: 90px;
  }
  .techs__title {
    padding-top: 90px;
  }

  .techs__about-title {
    margin-top: 80px;
  }

  .techs__about-text {
    margin-top: 22px;
  }

  .techs__methods {
    max-width: 648px;
    grid-template-columns: repeat(auto-fit, 84px);
    grid-template-rows: 57px;

    margin-top: 83px;
  }
}

@media screen and (max-width: 744px) {
  .techs__container {
    max-width: 86.97vw;
  }

  .techs__methods {
    grid-template-columns: repeat(auto-fit, 84px);
    grid-template-rows: 57px 57px;
  }
}

@media screen and (max-width: 416px) {
  .techs__methods {
    grid-template-columns: repeat(auto-fit, 84px);
    grid-template-rows: 57px 57px 57px;
  }
}

@media screen and (max-width: 340px) {
  .techs {
    background: #fafafa;
  }
  .techs__container {
    max-width: 88.75vw;
    padding-bottom: 70px;
  }

  .techs__methods {
    grid-template-columns: repeat(2, 84px);
    grid-template-rows: 57px 57px 57px 57px;
    gap: 10px;
    margin-top: 50px;
  }

  .techs__title {
    font-size: 18px;
    line-height: 22px;
    padding-top: 70px;
    padding-bottom: 28px;
  }

  .techs__about-title {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__about-text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 24px;
  }
}
